#root {
  margin: 0;
  padding: 0;
 }
/* index.css or App.css */
body {
  margin: 0;
  padding: 0;
}
.roboto-condensed-homeheading {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

